body {
    background: #E5E5E5;
    margin: 0 auto;
    padding: 10px 100px;
}

.header {
    margin: 0 auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/*Заголовки*/

.title {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 100px;
}

.man {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.bl {
    display: block;
}

.red {
    color: #D83933;
}

/*ІНПУТИ*/

.block, .block2, .block3, .block4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.block3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}


.input, .input2 {
    width: 40%;
}

.input3, .input4, .input5, .input6, .input2-2, .input2-3, .input8, .input9, .input10 {
    width: 40%;
    margin-top: 15px;
}

.input7 {
    width: 40%;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.empty {
    width: 40%;
}

div.input6 input, div.input9 input {
    background-image: url(../svg/arrow-down-s-line.svg);
    background-repeat: no-repeat;
    background-position: 99% 20%;
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    padding-left: 10px;
    cursor: pointer;
}


.input {
    width: 40%;
}


div.input select, div.input3 input, div.input4 select, div.input5 input, div.input8 input{
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 10px;
    cursor: pointer;
}


div.input2 input{
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #ADADAD;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    cursor: pointer;
}

div.input2-2 input {
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #ADADAD;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    cursor: pointer;
}

div.input2-3 input {
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 10px;
    
}

div.input7 input {
    height: 20px;
    width: 20px;
    padding-top: 6px;
    display: inline-block;
    cursor: pointer;
}

.input6 input::placeholder {
    color: blue;
}

  
.bk {
    background-image: url(../svg/arrow-down-s-line.svg);
    background-repeat: no-repeat;
    background-position: 98% 45%;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}

.bord {
    margin: 20px 0;
    border-bottom: 3px solid #D1D1D1;
}

.title2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    
}

.pur {
    padding-left: 5px;
}



.butexp {
    display: block;
    width: 40%;
    margin-top: 15px;
}

.exp {
    display: flex;
    border: 1px solid gray;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
}

.exp2 {
    display: flex;
    border: 1px solid gray;
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
}
div.exp input {
    border: none;
    width: 100%;
}

div.exp2 input {
    border: none;
    width: 100%;
    color: blue;
}

div.exp button, div.exp2 button  {
    border: none;
    background: white;
    cursor: pointer;
}


div.exp button:hover {
    background: #E5E5E5;
    
}
div.exp button:active {
    background: #9c9999;
    border-left: 1px solid gray;
}

div.end button {
    background: #0050D8;
    border: none;
    color: white;
    width: 69px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    margin-bottom: 40px;
}

.hei {
    height: 100px;
}